/Library/metadata
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj

/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/Unity Game-csharp.sln
/Unity Game.sln

/Assembly-CSharp.pidb
/Assembly-UnityScript-firstpass.pidb
